.footer-5-column {
  padding-top: 10px;
  margin-top: 10px;
}
.footer-5-column p {
  color: #777777;
}
.footer-5-column .footer-container {
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.footer-5-column .footer-container .footer-navbar-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details {
  width: 35%;
  max-width: 100%;
  flex: 0 0 auto;
  padding-right: 2rem;
  line-height: 1.428;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.8;
  padding-right: 1rem;
  text-align: justify;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons {
  margin-top: 10px;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons
  ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons
  ul
  li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 14px;
}
.footer-5-column
  .footer-container
  .footer-navbar-container
  .footer-company-details
  .footer-icons
  ul
  li
  a {
  width: 30px;
  padding: 6px;
}
.footer-5-column .footer-navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 1;
  line-height: 1.428;
  
}

.footer-5-column .footer-navbar > .footer-navbar-col {
  width: 25%;
  flex: 0 0 auto;
}
.footer-5-column .footer-navbar .footer-navbar-col h5 {
  margin-bottom: 15px;
  color: #000;
  font-weight: 700;
  overflow-wrap: break-word;
  padding: 0 0.5rem 0 0;
}
.footer-5-column .footer-navbar .footer-navbar-col ul {
  padding: 0 0.5rem 0 0;
  margin: 0;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li {
  list-style: none;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #777777;
  overflow-wrap: break-word;
}
.footer-5-column .footer-navbar .footer-navbar-col ul li a:hover {
  color: #000;
}

.footer-5-column .footer-copyright {
  padding: 2rem 0;
  border-top: 1px solid rgb(219, 215, 215);
}
.footer-5-column .footer-copyright p {
  font-size: 14px;
  margin-bottom: 0;
}

@media all and (max-width: 1140px) {
  .footer-5-column .footer-container .footer-navbar-container,
  .footer-5-column .footer-navbar {
    row-gap: 3rem;
  }
  .footer-5-column
    .footer-container
    .footer-navbar-container
    .footer-company-details,
  .footer-5-column .footer-container .footer-navbar-container .footer-navbar {
    padding: 0;
    width: 100%;
  }
}
@media all and (max-width: 992px) {
  .footer-5-column .footer-navbar .footer-navbar-col {
    width: 50%;
  }
}
@media all and (max-width: 576px) {
  .footer-5-column .footer-navbar .footer-navbar-col {
    /* width: 100%; */
  }
}