*{
    padding: 0px;
    margin: 0px;
}
@font-face{
  font-family: 'font1';
  src: url('../fonts/Audiowide-Regular.ttf');
  font-weight: normal;
}
.NavBar{
    display: block;
    position: fixed;
    z-index: 99;
    height: 55px; 
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.NavBar .NavBar-Title{
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    margin-left: 15px;
    margin-top: 14px;
    font-family: font1;
    user-select: none;
    float: left;
}
.NavBar-Title b{
    color: #000000;
}
.menu-btn {
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
}

/* Style the button lines */
.menu-btn__line {
    width: 100%;
    height: 4px;
    background-color: #000000;
    transition: all 0.3s ease-in-out; /* Add smooth transitions */
    border-radius: 4px;
}

/* --- Active state transformation --- */
/* Rotate top line to form one half of the 'X' */
.menu-btn.active .menu-btn__line:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 8px);
}

/* Hide the middle line */
.menu-btn.active .menu-btn__line:nth-child(2) {
    opacity: 0;
    transition: 0s;
}

/* Rotate bottom line to form the other half of the 'X' */
.menu-btn.active .menu-btn__line:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}
.sidePannel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 98;
    background-color: #fff;
    overflow-x: hidden; /* Hide overflow */
    transition: 0.5s; /* Smooth slide-in transition */
    padding-top: 55px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.sidePannel.active {
    width: 200px; /* Expand menu when active */
}
.sidePannel a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    color: #222;
    font-size: 16px;
    font-weight: bold;
}
.sidePannel a:hover {
    background-color: #ddd;
}
@media only screen and (min-width:800px) {
  /* For tablets: */
    .sidePannel.active{
        width: 300px;
    }
}