@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Dirt&display=swap');

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: system-ui;
}
a{
  text-decoration: none;
}
.main-content{
  padding-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.Introduction .Heading{
  display: block;
  border-radius: 5px;
  padding: 5px;
  line-height: 1.428;
  text-align: justify;
  border: dashed darkslategrey;
}
.Heading h1{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000000;
  font-family: Audiowide;
  font-weight: 100;
  text-align: center;
}
.Heading b{
}
.Heading p{
  line-height: 1.428;
  overflow: none;
  font-size: 16px;
  color: #222;
  overflow-wrap: break-word;
  white-space: normal;
}
.Cources{
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: dashed darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
}
.course-title{
  margin-top: 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: dashed darkslategrey;
  border-right: dashed darkslategray;
  border-left: dashed darkslategrey;
}
.cards {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}
.cards .zero1{
  background-image: linear-gradient(to right, #F36781 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
.cards .zero2{
 background-image: linear-gradient( 69.2deg,  rgba(77,143,251,1) 35.3%, rgba(202,51,255,1) 100.3% );
}
.cards .zero3{
  background-image: linear-gradient( 75.1deg,  rgba(19, 186, 19, 1) 6%, rgba(64, 153, 43, 1) 84.3% );
}
.cards .one {
  background: linear-gradient(to top right, #7509BE, #D049FF);
}
.cards .two {
  background: linear-gradient(to top right, rgba(204, 19, 135, 1), rgba(237, 100, 210, 1));
}
.cards .three {
  background: linear-gradient(to top right, rgba(4, 166, 92, 1), rgba(105, 230, 157, 1));
}
.cards .four{
  background: linear-gradient(to top right, rgba(17, 73, 255, 1), rgba(123, 133, 255, 1));
}
.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 400ms;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 1000;
  user-select: none;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}
/*
.cards:hover>.card:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
}
*/
.common-subjects{
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: dashed darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
}
.title2{
  margin-top: 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: dashed darkslategrey;
  border-right: dashed darkslategray;
  border-left: dashed darkslategrey;
}

.AppDownload {
  margin: 20px;
  max-width: 350px;
  background-color: rgb(7 16 45);
  background: linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
  background: -webkit-linear-gradient(to top right, rgb(7 16 45), rgb(58 60 84));
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgb(84 90 106);
}

.small-text, .title,.desc {
  font-weight: 600;
  user-select: none;
}

.title,.desc {
  margin: 8px 0;
  user-select: none;
}

.small-text {
  color: #488aec;
  font-size: 14px;
  user-select: none;
}

.AppDownload .title {
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  user-select: none;
}

.AppDownload .desc {
  color: rgb(151 153 167);
  font-size: 13px;
  user-select: none;
}

.AppDownload .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

.AppDownload .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
}

.AppDownload .button:first-child {
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  background-color: #488aec;
}

.AppDownload .button:last-child {
  box-shadow: 0 4px 6px -1px #0b162531, 0 2px 4px -1px #0e192b17;
  background-color: #fff;
}

.AppDownload .icon {
  height: 25px;
  width: 25px;
}

.AppDownload .icon svg {
  width: 100%;
  height: 100%;
}

.AppDownload .icon svg:last-child {
  fill: #000
}

.AppDownload .button-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.AppDownload .button-text span:first-child {
  font-size: 12px;
  font-weight: 600;
}

.AppDownload .google span:first-child {
  color: rgb(219 206 253);
}

.AppDownload .apple span:first-child {
  color: rgb(81 87 108);
}

.AppDownload .google span:last-child {
  color: #fff;
  font-weight: 800;
}

.AppDownload .apple span:last-child {
  color: #000;
  font-weight: 800;
}

.important-links{
  margin: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: dashed;
}
.important-links p{
  font-weight: 700;
  font-size: 20px;
  color: dodgerblue;
  
}
.important-links ul{
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: "\21AA";
  font-weight: 500;
  font-size: 16px;
  font-weight: normal;
  overflow: none;
  overflow-wrap: break-word;
}
.important-links li::marker {
  color: orangered;
  font-size: 20px;
}
.important-links a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.BookStore{
  display: block;
  position: fixed;
  z-index: 80;
  top: 65%;
  height: 60px;
  width: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #000000;
  
}
.BookStore svg{
  padding: 5px;
  width: 50px;
  height: 50px;
  fill: #FF1170;
}
.about{
  margin: 10px;
  margin-top: 30px;
  user-select: none;
}
.about p{
  margin-left: 5px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.about .card{
  margin: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  padding: 14px 100px 18px 20px;
  cursor: pointer;
  overflow: hidden;
}
.about .card h3{
  font-size: 20px;
  font-weight: 700;
  color: darkorange;
}
.about .card p{
  font-size: 16px;
  color: #313131;
  font-weight: 400;
  font-family: fantasy;
}

.about .card img{
  position: absolute;
  top: 20px;
  right: 20px;
  max-height: 120px;
}
.about .card-1{
  background-image: url("../imgs/avatar.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90px;
}

/*Making website suitable for different screen size*/
.main {
  float: left;
  width: 60%;
  overflow: hidden;
}
.right {
  float: right;
  width: 40%;
}

@media only screen and (min-width:900px) {
  /* For tablets: */
  .main {
    width: 70%;
  }
  .right {
    width: 30%;
    margin-top: 60px;
  }
  .about .card{
    margin: auto;
  }
  .AppDownload .buttons{
    gap: 10px;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main, .right {
    width: 100%;
  }
}
